body {
    background:  no-repeat center center fixed;
    padding-top: 60px;
    position: relative;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(235, 235, 235)
}
.navbar-custom {
    background-color: #272733;
}

.container {
    background-color: rgb(235, 235, 235)
}

li {
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: -10px;
}

.timeline-entry{
    position:relative;
    margin-top:15px;
    margin-bottom:0px;
    padding: 10px 0px 10px 0px;
    left:14px;
    background: rgb(247, 247, 247);
    display:inline-block;
    border-radius:5px;
    border:1px solid rgb(0, 0, 0);
    width:100%;
}

.timeline-date{
    position:relative;
    left:14px;
    width:100%;
    top:25px;
    margin-bottom:15px;
}

@media (min-width: 300px) {
hr.timeline-sep{
    top: -200px;
}
}
@media (min-width: 576px) {
hr.timeline-sep{
    position:relative;
    top: -6px;
    border-radius: 5px;
}
}

hr{
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 5px;
    border-top: 1px solid #5c5c5c;
}

.box{
    background-color: white;
    height: auto;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border:1px solid rgb(200,200,200);
}

.infobox{
    background-color: white;
    height: auto;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 7px;
    border:1px solid rgb(200,200,200);
}

.timeline{
    margin-top:-20px;
    position:relative;
    margin-bottom: 15px;
}

.timeline:before{
    position:absolute;
    content:'';
    width:3px;
    height:calc(100% - 15px);
    background: #474747;
    left:50px;
    top:25px;
    border-radius:100px;
}

.link-target{
    margin-top: -60px;
    position: absolute;
}

.anchor{
    position: absolute;
    top: -60px;
    visibility: hidden;
}

pre{
    font-family: Consolas,monospace;
}

.sbtn{
    margin-right: 1em;
}
